[submodule "thirdparty/SDL2"]
	path = thirdparty/SDL2
	url = https://github.com/spurious/SDL-mirror.git
[submodule "thirdparty/glew"]
	path = thirdparty/glew
	url = https://github.com/nigels-com/glew.git
[submodule "cmake/sdl2"]
	path = cmake/sdl2
	url = ../../aminosbh/sdl2-cmake-modules
[submodule "thirdparty/depot_tools"]
	path = thirdparty/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "thirdparty/SDL2_ttf"]
	path = thirdparty/SDL2_ttf
	url = https://github.com/davidsiaw/SDL2_ttf
[submodule "thirdparty/SDL_net"]
	path = thirdparty/SDL_net
	url = https://github.com/SDL-mirror/SDL_net.git
[submodule "src/chromium/third_party/ced/src"]
	path = src/chromium/third_party/ced/src
	url = https://chromium.googlesource.com/external/github.com/google/compact_enc_det.git
[submodule "src/chromium/third_party/boringssl/src"]
	path = src/chromium/third_party/boringssl/src
	url = https://boringssl.googlesource.com/boringssl.git
[submodule "src/chromium/net/third_party/quiche/src"]
	path = src/chromium/net/third_party/quiche/src
	url = https://quiche.googlesource.com/quiche.git
[submodule "src/chromium/media/cdm/api"]
	path = src/chromium/media/cdm/api
	url = https://chromium.googlesource.com/chromium/cdm.git
[submodule "src/chromium/third_party/libsync/src"]
	path = src/chromium/third_party/libsync/src
	url = https://chromium.googlesource.com/aosp/platform/system/core/libsync.git
