[submodule "submodules/include-what-you-use"]
  path = submodules/include-what-you-use
  url = https://github.com/include-what-you-use/include-what-you-use.git
[submodule "cmake/sdl2"]
  path = cmake/sdl2
  url = https://github.com/aminosbh/sdl2-cmake-modules.git
[submodule "thirdparty/depot_tools"]
  path = thirdparty/depot_tools
  url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "src/chromium/media/cdm/api"]
  path = src/chromium/media/cdm/api
  url = https://chromium.googlesource.com/chromium/cdm.git
[submodule "src/chromium/third_party/libsync/src"]
  path = src/chromium/third_party/libsync/src
  url = https://chromium.googlesource.com/aosp/platform/system/core/libsync.git
[submodule "src/chromium/third_party/libjpeg_turbo"]
  path = src/chromium/third_party/libjpeg_turbo
  url = https://chromium.googlesource.com/chromium/deps/libjpeg_turbo.git
[submodule "src/chromium/third_party/fontconfig/src"]
  path = src/chromium/third_party/fontconfig/src
  url = https://chromium.googlesource.com/external/fontconfig.git
[submodule "src/chromium/third_party/libyuv"]
  path = src/chromium/third_party/libyuv
  url = https://chromium.googlesource.com/libyuv/libyuv.git
[submodule "src/chromium/third_party/re2/src"]
  path = src/chromium/third_party/re2/src
  url = https://github.com/google/re2.git
[submodule "src/chromium/third_party/emoji-segmenter/src"]
  path = src/chromium/third_party/emoji-segmenter/src
  url = https://github.com/googlei18n/emoji-segmenter.git
[submodule "src/chromium/third_party/skia"]
  path = src/chromium/third_party/skia
  url = https://github.com/google/skia.git
[submodule "submodules/CXTPL"]
  path = submodules/CXTPL
  url = http://github.com/blockspacer/CXTPL.git
[submodule "thirdparty/chromium_base"]
	path = thirdparty/chromium_base
	url = https://github.com/blockspacer/chromium_base_conan.git
	branch = master
[submodule "thirdparty/chromium_build_util"]
	path = thirdparty/chromium_build_util
	url = https://github.com/blockspacer/chromium_build_util_conan.git
	branch = master
[submodule "thirdparty/chromium_compact_enc_det"]
	path = thirdparty/chromium_compact_enc_det
	url = https://github.com/blockspacer/chromium_compact_enc_det_conan.git
	branch = master
[submodule "thirdparty/chromium_dynamic_annotations"]
	path = thirdparty/chromium_dynamic_annotations
	url = https://github.com/blockspacer/chromium_dynamic_annotations_conan.git
	branch = master
[submodule "thirdparty/chromium_icu"]
	path = thirdparty/chromium_icu
	url = https://github.com/blockspacer/chromium_icu_conan.git
	branch = master
[submodule "thirdparty/chromium_libevent"]
	path = thirdparty/chromium_libevent
	url = https://github.com/blockspacer/chromium_libevent_conan.git
	branch = master
